<div class="card text-center">
  <div class="card-header">
    Welcome to Private Events
  </div>
  <div class="card-body">
    <img src="https://media.giphy.com/media/TyPKuTkBXmBPO/giphy.gif">
  </div>
</div>
